:root { 
    --marta-blue : #0092d0;
    --marta-yellow : #fdbe43;
    --marta-orange : #ff7500;
    --red-line : #EA0213;
    --green-line : #00B05A;
    --gold-line : #DDB312;
    --blue-line : #0180C0;
    --marta-black :#000000;
    --marta-grey: #CCCCCC;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--dark);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

.top-bar-container {
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(
  to bottom,
  #0092d0 0%,
  #0092d0 20%,
  #00b0ff 20%,
  #00b0ff 45%,
  var(--marta-yellow) 45%,
  var(--marta-yellow) 70%,
  #ff7500 70%,
  #ff7500 85%,
  #ea0213 85%,
  #ea0213 100%
);
}

.siteheader-logo {
    height: 150px;
    width: auto;
    display: block;
    margin: 5px;
}

.train-hero {
  position: relative;
  height: 700px;
  min-height: 500px;
  max-height: 800px;
  overflow: hidden;
  background: #efece6;
}
.h1{
  padding: 100px;
}

.top-bar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
}

.top-bar-links li a {
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.top-bar-links li a:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}
}

