:root { 
    --marta-blue : #0092d0;
    --marta-yellow : #fdbe43;
    --marta-orange : #ff7500;
    --red-line : #EA0213;
    --green-line : #00B05A;
    --gold-line : #DDB312;
    --blue-line : #0180C0;
    --marta-black :#000000;
    --marta-grey: #CCCCCC;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--dark);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

.top-bar-container {
    width: 100%;
    height: 90px;
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.top-bar-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(
  to bottom,
  #0092d0 0%,
  #0092d0 20%,
  #00b0ff 20%,
  #00b0ff 45%,
  var(--marta-yellow) 45%,
  var(--marta-yellow) 70%,
  #ff7500 70%,
  #ff7500 85%,
  #ea0213 85%,
  #ea0213 100%
);
}

.siteheader-logo img{
  height: 90px;
  width: auto;
  display: block;
  margin: 5px;
}

.train-hero {
  position: relative;
  height: 600px;
  min-height: 500px;
  max-height: 800px;
  overflow: hidden;
  background: #d4cfc7;
  perspective: 1400px;
  perspective-origin: 50% 40%;
}

.train-interior {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: rotateY(8deg) rotateX(1deg);
  transform-style: preserve-3d;
}

/*floor at the bottom */
.train-floor {  
  position: absolute;
  margin-top: 1000;
  bottom: 0;
  width: 150%;
  height: 50px;
  background: #3276b0;
  transform: rotateY(8deg) translateY(40%);
  z-index: 5;
}

.doors {
  position: absolute;
  width: 360px;
  height: calc(100% - 20px);
  background: transparent; 
  z-index: 3;
  padding: 10px;
  left: 0;
}

.door-left {
  position: absolute;
  left: 10px;
  top: 20px;
  width: 170px;
  height: calc(100% - 20px);
  background: #5a6a7a;
  border-right: 2px solid #2a2a2a;
  border-left: 2px solid #2a2a2a;
  border-top: 3px solid #2a2a2a;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.door-right {
  position: absolute;
  left: 180px;
  top: 20px;
  width: 170px;
  height: calc(100% - 20px);
  background: #5a6a7a;
  border-left: 3px solid #2a2a2a;
  border-right: 3px outset #2a2a2a;
  border-top: 3px solid #2a2a2a;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.door-left, .door-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.door-window1, .door-window2 {
  position: relative;
  width: 130px;
  height: 200px;
  max-height: 50%;
  border-radius: 25px;
  transform: translateY(-30%);
  background: linear-gradient(
    180deg,
    #a18cd1 0%,
    #fbc2eb 35%,
    #ff9966 70%,
    #ff5e62 100%
  );
  border: 10px solid var(--marta-black);
  box-shadow: 0px 4px 4px 0px  rgba(0, 0, 0.25, 0.25);
}

@media (max-width: 768px) {
  .train-hero {
    height: 500px;
    min-height: 400px;
  }
  
  .doors {
    width: 300px;
  }
  
  .door-left, .door-right {
    width: 140px;
  }
  
  .door-right {
    left: 140px;
  }
  
  .door-window1, .door-window2 {
    width: 110px;
    height: 200px;
  }
}